{% extends 'master.html' %}

{% block title %}
    Help Support
{% endblock %}
  
{% block content %}
{% load static %}


<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'navbar.html' %}

        {% include 'sidebar/sidebar.html' %}
    
        <div class="content-wrapper white-bg">
          <!-- Content Header (Page header) -->
          <div class="content-header header-content-bg">
            <div class="container-fluid ">
              <div class="row pt-2 pb-2">
                <div class="col-sm-6">
                  <h1 class="admin-title m-0 pt-2">Help Support</h1>
                  <ul class="breadcrump">
                    <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                    <li>Help Support</li>
                  </ul>
                </div>
              </div>
      
            </div>
          </div>
          <!-- /.content-header -->
      
          <!-- Main content -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                
                <div class="col-sm-12 col-md-12">  
                    <div class="card box-shadow-none">
                      <div class="card-body px-0 pb-0">
                        <div class="row pb-3">
                          <div class="col-md-4">
                              <a href="tel:+91-9990724365">
                                  <div class="contact-area">
                                      <div class="cnt-area">
                                          <div class="cnt-icon cnt-bg1">
                                              <i class="fas fa-phone-volume"></i>
                                          </div>
                                          <span class="cnt-txt">Call Us : +91-9990724365</span>
                                      </div>
                                      <span class="cnt-rite-icon"><i class="fas fa-chevron-right"></i></span>
                                  </div>
                              </a>
                          </div>
                          <div class="col-md-4">
                              <a href="mailto: {{ COMPANY_EMAIL }}">
                                  <div class="contact-area">
                                      <div class="cnt-area">
                                          <div class="cnt-icon cnt-bg2">
                                              <i class="far fa-comment-dots"></i>
                                          </div>
                                          <span class="cnt-txt">Email Us : {{ COMPANY_EMAIL }}</span>
                                      </div>
                                      <span class="cnt-rite-icon"><i class="fas fa-chevron-right"></i></span>
                                  </div>
                              </a>
                          </div>
                          <div class="col-md-4">
                              <a href="https://web.whatsapp.com/send/?phone=+91-9990724365" target="_blank">
                                  <div class="contact-area">
                                      <div class="cnt-area">
                                          <div class="cnt-icon cnt-bg3">
                                              <i class="fab fa-whatsapp"></i>
                                          </div>
                                          <span class="cnt-txt">Connect on Whatsapp</span>
                                      </div>
                                      <span class="cnt-rite-icon"><i class="fas fa-chevron-right"></i></span>
                                  </div>
                              </a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="table-responsive table-ht">
                              
                              <table class="table table-design table-border-line">
                               
                                <tbody>
                                    <tr>
                                        <td class="table-thead-bg-light"><strong>Branch</strong></td>
                                        <td>{{ branch.branch_name|default:"N/A" }}</td>
                                        <td>{{ branch.email|default:"N/A" }}</td>
                                        <td>{{ branch.mobile|default:"N/A" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-thead-bg-light"><strong>Manager</strong></td>
                                        <td>{{ manager_details.full_name|default:"N/A" }}</td>
                                        <td>{{ manager_details.email|default:"N/A" }}</td>
                                        <td>{{ manager_details.phone|default:"N/A" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-thead-bg-light"><strong>Team Leader</strong></td>
                                        <td>{{ tl_details.full_name|default:"N/A" }}</td>
                                        <td>{{ tl_details.email|default:"N/A" }}</td>
                                        <td>{{ tl_details.phone|default:"N/A" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-thead-bg-light"><strong>Relationship Member</strong></td>
                                        <td>{{ rm_details.full_name|default:"N/A" }}</td>
                                        <td>{{ rm_details.email|default:"N/A" }}</td>
                                        <td>{{ rm_details.phone|default:"N/A" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            
                            </div>
                          </div>
                        </div>

                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
            
          </div>
          
        </div>
        <!-- /.content-wrapper -->
    
        {% include "footer.html" %}
    </div>
    <!-- ./wrapper -->
    
    
    <div class="modal fade table-filter-modal" id="modal-filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content">
          <div class="modal-header">
            <div class="d-flex align-items-center justify-content-between w-100">
              <h5 class="modal-title">Filter</h5>
              <p class="modal-title text-gray mb-0">Clear All</p>
            </div>  
            <!-- <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button> -->
          </div>
          <div class="modal-body">
            <h4 class="filter-hding">Status</h4>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-active">
              <label for="status-active">Active</label>
            </div>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-deactived">
              <label for="status-deactived">Deactived</label>
            </div>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-onnotice">
              <label for="status-onnotice">Active | On Notice</label>
            </div>
            <h4 class="filter-hding">Member Name</h4>
            <input type="search" name="" class="filter-search-field" placeholder="Search Members">
            <h4 class="filter-hding">Plan</h4>
            <select class="filter-search-field" id="planselect">
              <option value="" selected>Select Plan</option>
              <option value="Team Member">Netyx (Team Member)</option>
              <option value="Family">Netyx (Team Member, Spouse and Two Children)</option>
            </select>
            <h4 class="filter-hding">Activation Date Range</h4>
            <input type="text" class="daterange filter-search-field" value="01/01/2025 - 01/15/2025" />
            <h4 class="filter-hding">Deactivation Date Range</h4>
            <input type="text" class="daterange filter-search-field" value="01/01/2025 - 01/15/2025" />
          </div>
          <div class="modal-footer">
            <button type="button" class="dashboard-btn-outline" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="dashboard-addbtn">Apply</button>
          </div>
        </form>
      </div>
    </div>
    
    {% include 'footer-script.html' %}
    
    
    
    
    </body>

{% endblock %}