{% extends 'master.html' %}

{% load static %}

{% block title %}
Policy Management
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include 'sidebar/sidebar.html' %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-12 col-md-6">
                <h2 class="admin-title m-0 pt-2 text-dark">Browse Policy </h2>
                <ul class="breadcrump">
                  <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Post Policies Mgt</li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="d-flex align-items-center justify-content-end">
                  <div>
                    {% if request.user.role_id == 1 or request.user.department_id|stringformat:"s" == "5" or request.user.department_id|stringformat:"s" == "3"%}
                        
                    {% if request.user.department_id|stringformat:"s" != "5" and request.user.department_id|stringformat:"s" != "3" %}
                    <a href="{% url 'bulk-upload-logs' %}" class="breadcrump-addbtn mx-1">View Bulk Logs</a>
                    <a href="{% url 'bulk-policy-mgt' %}" class="breadcrump-addbtn mx-1">Add Bulk Policy</a>
                    {% endif %}

                    <a href="{% url 'policy-data' %}" class="breadcrump-addbtn mx-1">View Policy</a>
                    
                    {% if request.user.department_id|stringformat:"s" != "5" and request.user.department_id|stringformat:"s" != "3" %}
                    <a href="{% url 'edit-bulk-policy' %}" class="breadcrump-addbtn mx-1">Edit Bulk Policy</a>
                    {% endif %}
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-5 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                    
                    <form autocomplete="off" name="browsePolicy" id="single_policy_upload" action="{% url 'browser-policy' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="form-lbl" for="file">Upload Policy</label>
                                <input type="file" class="form-field" name="file" id="file" accept="application/pdf">
                                <span class="error file_err"></span>
                                {% if form.file.errors %}
                                    <span class="text-danger">{{ form.file.errors.0 }}</span>
                                {% endif %}
                                <p class="text-gray small pt-2">Only PDF allowed and max size 2 mb allowed</p>
                            </div>
                          </div>  
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-lbl" for="product_type">Product Type</label>
                                <select name="product_type" id="product_type" class="form-field">
                                  <option value="">Select</option>
                                  {% for k,v in product_types.items %}
                                    <option value="{{k}}">{{v}}</option>
                                  {% endfor %}
                                </select>
                                <span class="error product_type_err"></span>
                                {% if form.product_type.errors %}
                                    <span class="text-danger">{{ form.product_type.errors.0 }}</span>
                                {% endif %}
                            </div>
                          </div>
                          
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-lbl" for="rm_name">Insurance Company</label>
                                <select name="insurance_company" id="insurance_company" class="form-field">
                                  <option value="">Select Insurance Company</option>
                                  {% for insurer in insurers %}
                                      <option value="{{ insurer.id }}" {% if insurer.id == request.insurer.id %}selected{% endif %}>
                                          {{ insurer.insurance_company }}
                                      </option>
                                  {% endfor %}
                                </select>
                                <span class="error insurance_company_err"></span>
                                {% if form.insurance_company.errors %}
                                    <span class="text-danger">{{ form.insurance_company.errors.0 }}</span>
                                {% endif %}
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="d-flex justify-content-end">
                              <button type="submit" class="form-submit-btn" id="submitButton">Upload Policy</button>
                            </div> 
                          </div>
                        </div>
                    </form>
                  </div>
                  <div id="loader" class="form-loader" style="display: none;">
                    <div>
                      <!-- <img src="{% static 'dist/img/guanxian.gif' %}" alt=""> -->
                      <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                      <span class="visually-hidden d-block pt-2">Loading...</span>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    

    <!-- <script>
      document.getElementById("single_policy_upload").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script> -->
</body>
{% endblock %}
