{% extends 'master.html' %}

{% block title %}
    Document Verification
{% endblock %}
  
{% block content %}
{% load static %}


<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'navbar.html' %}

        {% include 'sidebar/sidebar.html' %}
    
        <div class="content-wrapper white-bg">
          <!-- Content Header (Page header) -->
          <div class="content-header header-content-bg">
            <div class="container-fluid ">
              <div class="row pt-2 pb-2">
                <div class="col-sm-6">
                  <h1 class="admin-title m-0 pt-2">Document Verification</h1>
                  <ul class="breadcrump">
                    <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                    <li>Document Verification</li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <div class="d-flex justify-content-end">
                    <a href="{% url 'add-members' %}" class="breadcrump-addbtn"><i class="fas fa-plus"></i> Add Partner</a>
                  </div>
                </div>
              </div>
              
              
              {% comment %} HERE TYPE  {% endcomment %}
              {% include "components/members/member-counter.html" %}
              {% comment %} HERE TYPE  {% endcomment %}
      
      
            </div>
          </div>
          <!-- /.content-header -->
      
          <!-- Main content -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                
                <div class="col-sm-12 col-md-12">  
                    <div class="card box-shadow-none">
                      <div class="card-body px-0 pb-0">
                        <!-- <div class="row">
                          <div class="col-md-6">
                            <div class="table-search-area">
                              <form method="GET" class="d-flex">
                                <select class="table-select-field form-select" name="search_field">
                                    <option value="" disabled selected>Filter By</option>
                                    <option value="user_gen_id" {% if search_field == "user_gen_id" %}selected{% endif %}>User ID</option>
                                    <option value="user_name" {% if search_field == "user_name" %}selected{% endif %}>User Name</option>
                                    <option value="email" {% if search_field == "email" %}selected{% endif %}>Email</option>
                                    <option value="phone" {% if search_field == "phone" %}selected{% endif %}>Phone Number</option>
                                </select>
                            
                                <input type="text" name="search_query" class="table-search-field form-control" 
                                       placeholder="Search" value="{{ search_query }}">
                            
                                <button type="submit" class="table-search-btn btn btn-primary">
                                    <img src="{% static 'dist/img/svg/search-icon.svg' %}" alt="Search">
                                </button>
                            </form>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class=" d-flex justify-content-end">
                              <div class="dropdown">
                                <div class="shorting-select"  data-toggle="dropdown" aria-expanded="false">
                                  <img src="{% static 'dist/img/svg/shorting-icon.svg' %}" alt="">
                                  <span>Short</span>
                                  <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                                </div>
                                <form method="GET" class="d-flex">
                                  <select class="table-select-field form-select" name="search_field">
                                      <option value="" disabled selected>Filter By</option>
                                      <option value="user_gen_id" {% if search_field == "user_gen_id" %}selected{% endif %}>User ID</option>
                                      <option value="user_name" {% if search_field == "user_name" %}selected{% endif %}>User Name</option>
                                      <option value="email" {% if search_field == "email" %}selected{% endif %}>Email</option>
                                      <option value="phone" {% if search_field == "phone" %}selected{% endif %}>Phone Number</option>
                                  </select>
                              
                                  <input type="text" name="search_query" class="table-search-field form-control" 
                                         placeholder="Search" value="{{ search_query }}">
                              
                                  <button type="submit" class="table-search-btn btn btn-primary">
                                      <img src="{% static 'dist/img/svg/search-icon.svg' %}" alt="Search">
                                  </button>
                              </form>
                              </div>  
                              <div class="shorting-select" data-toggle="modal" data-target="#modal-filter">
                                <img src="{% static 'dist/img/svg/filter-icon.svg' %}" alt="">
                                <span>Filter</span>
                                <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                              </div>
                            </div>  
                          </div>
                        </div> -->
                        
                        <!-- Partner Filter Start -->
                          <div class="card w-100">
                            <div class="card-body pb-0">
                                <form method="GET">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <input class="form-field" name="user_gen_id" type="text" placeholder="User ID" value="{{ request.GET.user_gen_id }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <input class="form-field" name="user_name" type="text" placeholder="User Name" value="{{ request.GET.user_name }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <input class="form-field" name="email" type="email" placeholder="Email" value="{{ request.GET.email }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <input class="form-field" name="phone" type="text" placeholder="Phone Number" value="{{ request.GET.phone }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                          <div class="form-group">
                                              <input class="form-field" name="pan_no" type="text" placeholder="PAN Number" value="{{ request.GET.pan_no }}">
                                          </div>
                                      </div>
                                        
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group d-flex">
                                                <button type="submit" class="wrap-btn w-100">Apply</button>
                                                <a href="{% url 'members_inprocess' %}" class="wrap-btn w-100 bg-danger ml-2 text-center">Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                          </div>
                          <!-- Partner Filter End -->
                          <div class="col-md-12">
                            <div class=" d-flex justify-content-between">
                              <!-- <div class="dropdown">
                                <div class="shorting-select"  data-toggle="dropdown" aria-expanded="false">
                                  <img src="{% static 'dist/img/svg/shorting-icon.svg' %}" alt="">
                                   <span>Short</span>
                                  <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                                </div> -->
                              </div>  
                              <!-- <form method="GET" class="d-flex"> -->
                                  <!-- <select class="table-select-field form-select" name="search_field">
                                      <option value="" disabled selected>Filter By</option>
                                      <option value="user_gen_id" {% if search_field == "user_gen_id" %}selected{% endif %}>User ID</option>
                                      <option value="user_name" {% if search_field == "user_name" %}selected{% endif %}>User Name</option>
                                      <option value="email" {% if search_field == "email" %}selected{% endif %}>Email</option>
                                      <option value="phone" {% if search_field == "phone" %}selected{% endif %}>Phone Number</option>
                                  </select> -->
                              
                                  <!--<input type="text" name="search_query" class="table-search-field form-control" 
                                        placeholder="Search" value="{{ search_query }}">
                              
                                  <button type="submit" class="table-search-btn btn btn-primary">
                                      <img src="{% static 'dist/img/svg/search-icon.svg' %}" alt="Search">
                                  </button>
                              </form>
                            </div> -->
                              <!-- <div class="shorting-select" data-toggle="modal" data-target="#modal-filter">
                                <img src="{% static 'dist/img/svg/filter-icon.svg' %}" alt="">
                                <span>Filter</span>
                                <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                              </div>-->
                          </div>  
                        </div>
                      </div>

                        {% include "components/members/member-list-tab.html" with inprocess="true" %}

                        {% include "components/members/member-list.html" with inprocess="true" %}
                      </div>
                    </div>
                    
                    
                    {% include "components/filter/paginator.html" %}


                  </div>
                </div>
              </div>  
            </div>
            
          </div>
          
        </div>
        <!-- /.content-wrapper -->
    
        {% include "footer.html" %}
    </div>
    <!-- ./wrapper -->
    
    
    <div class="modal fade table-filter-modal" id="modal-filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content">
          <div class="modal-header">
            <div class="d-flex align-items-center justify-content-between w-100">
              <h5 class="modal-title">Filter</h5>
              <p class="modal-title text-gray mb-0">Clear All</p>
            </div>  
            <!-- <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button> -->
          </div>
          <div class="modal-body">
            <h4 class="filter-hding">Status</h4>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-active">
              <label for="status-active">Active</label>
            </div>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-deactived">
              <label for="status-deactived">Deactived</label>
            </div>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-onnotice">
              <label for="status-onnotice">Active | On Notice</label>
            </div>
            <h4 class="filter-hding">Member Name</h4>
            <input type="search" name="" class="filter-search-field" placeholder="Search Members">
            <h4 class="filter-hding">Plan</h4>
            <select class="filter-search-field" id="planselect">
              <option value="" selected>Select Plan</option>
              <option value="Team Member">Netyx (Team Member)</option>
              <option value="Family">Netyx (Team Member, Spouse and Two Children)</option>
            </select>
            <h4 class="filter-hding">Activation Date Range</h4>
            <input type="text" class="daterange filter-search-field" value="01/01/2025 - 01/15/2025" />
            <h4 class="filter-hding">Deactivation Date Range</h4>
            <input type="text" class="daterange filter-search-field" value="01/01/2025 - 01/15/2025" />
          </div>
          <div class="modal-footer">
            <button type="button" class="dashboard-btn-outline" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="dashboard-addbtn">Apply</button>
          </div>
        </form>
      </div>
    </div>
    
    {% include 'footer-script.html' %}
    
    
    
    
    </body>

{% endblock %}