{% extends 'master.html' %}

{% block title %}
Franchise
{% endblock %}
  
{% block content %}
{% load static %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'navbar.html' %}

        {% include 'sidebar/sidebar.html' %}
    
        <div class="content-wrapper white-bg">
          <!-- Content Header (Page header) -->
          <div class="content-header header-content-bg">
            <div class="container-fluid ">
              <div class="row pt-2 pb-2">
                <div class="col-sm-6">
                  <div class="d-flex align-items-center">
                  <h1 class="admin-title m-0 pt-2">Franchise</h1>
                  </div>
                  <ul class="breadcrump">
                    <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                    <li>Franchise</li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <div class="d-flex justify-content-end">
                    <a href="{% url 'franchise-management-create' %}" class="breadcrump-addbtn"><i class="fas fa-plus"></i> Add Entity</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3">
                  <a href="#">
                    <div class="card counter-img-card active">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            
                            <p class="card-text">
                              Total Franchise
                            </p>
                            <h5 class="card-title card-number">{{ total_count }}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>   
                </div>  
                <div class="col-xs-6 col-sm-4 col-md-3">
                  <a href="#">
                    <div class="card counter-img-card counter-active-card ">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            
                            <p class="card-text">
                              Active Franchise
                            </p>
                            <h5 class="card-title card-number">{{ total_count }}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>  
                </div>  
                <div class="col-xs-6 col-sm-4 col-md-3">
                  <a href="#">
                    <div class="card counter-img-card counter-deactive-card ">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            
                            <p class="card-text">
                              Inactive Franchise
                            </p>
                            <h5 class="card-title card-number">0</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>  
                </div>  
              </div>
      
            </div>
          </div>
          <!-- /.content-header -->
      
                      <!-- Display error messages -->
                   
          <!-- Main content -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                
                <div class="col-sm-12 col-md-12">  
                    <div class="card box-shadow-none">
                      <div class="card-body px-0 pb-0">
                        <div class="row">
                         <!-- <div class="col-md-6">
                            <div class="table-search-area">
                              <form method="GET" class="d-flex">
                                <select class="table-select-field" name="search_field">
                                    <option value="" disabled selected>Filter By</option>
                                    <option value="name" {% if search_field == "name" %}selected{% endif %}>Franchise Name</option>
                                    <option value="mobile" {% if search_field == "mobile" %}selected{% endif %}>Mobile Number</option>
                                    <option value="email" {% if search_field == "email" %}selected{% endif %}>Email ID</option>
                                    <option value="contact_person" {% if search_field == "contact_person" %}selected{% endif %}>Contact Person</option>
                                </select>
                            
                                <input type="text" name="search_query" class="table-search-field" placeholder="Search" value="{{ search_query }}">
                            
                                <button type="submit" class="table-search-btn">
                                    <img src="{% static 'dist/img/svg/search-icon.svg' %}" alt="Search">
                                </button>
                            </form>
                            </div>
                          </div>-->
                            <!-- Franchise Filter Start -->
                              <div class="card w-100">
                                <div class="card-body pb-0">
                                  <form method="GET">
                                    <div class="row">
                                      <div class="col-sm-6 col-md">
                                        <div class="form-group">
                                        <input class="form-field" name="name" type="text" placeholder="Franchise Name" value="{{ request.GET.name }}">
                                        </div>
                                      </div>

                                      <div class="col-sm-6 col-md">
                                        <div class="form-group">
                                          <input class="form-field" name="mobile" type="text" placeholder="Mobile Number" value="{{ request.GET.mobile }}">
                                        </div>
                                      </div>

                                      <div class="col-sm-6 col-md">
                                        <div class="form-group">
                                          <input class="form-field" name="email" type="email" placeholder="Email ID" value="{{ request.GET.email }}">
                                          </div>
                                      </div>

                                      <div class="col-sm-6 col-md">
                                        <div class="form-group">
                                          <input class="form-field" name="pan_number" type="text" placeholder="PAN Number" value="{{ request.GET.pan_number }}">
                                        </div>
                                      </div>

                                      <div class="col-sm-12 col-md-2">
                                        <div class="form-group d-flex justify-content-end">
                                          <button type="submit" class="wrap-btn w-100">Apply</button>
                                          <a href="{% url 'franchise-management' %}" class="wrap-btn w-100 bg-danger ml-2 text-center">Reset</a>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                          <!-- Franchise Filter End -->
                          <!-- <div class="col-md-12">
                            <div class=" d-flex justify-content-between mb-2">
                              <div class="dropdown">
                                <div class="shorting-select"  data-toggle="dropdown" aria-expanded="false">
                                  <img src="{% static 'dist/img/svg/shorting-icon.svg' %}" alt="">
                                  <span>Short</span>
                                  <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                                </div>

                                <!-- <form action="">
                                  <ul class="dropdown-menu shorting-dropdown-menu">
                                    <p class="border-bottom pb-1 title2">Short</p>
                                    <li><input type="radio" name="shorting" id="name-a_z"> <label for="name-a_z">Name A &gt; Z</label></li>
                                    <li><input type="radio" name="shorting" id="name-z_a"> <label for="name-z_a">Name Z &lt; A</label></li>
                                    <li><input type="radio" name="shorting" id="recently_activated"> <label for="recently_activated">Recently Activated</label></li>
                                    <li><input type="radio" name="shorting" id="recently_deactivated"> <label for="recently_deactivated">Recently Deactivated</label></li>
                                    <div class="d-flex justify-content-center border-top pt-3 mt-2 pb-2">
                                      <button type="submit" class="dashboard-addbtn w-100">Apply</button>
                                    </div>   
                                  </ul>
                                </form>  -->

                                
                                
                                    <!-- <li>
                                      <input type="radio" name="sort_by" id="name-a_z" value="name_asc"
                                             {% if request.GET.sort_by == "name_asc" %}checked{% endif %}>
                                      <label for="name-a_z">Name A &gt; Z</label>
                                    </li>
                                
                                    <li>
                                      <input type="radio" name="sort_by" id="name-z_a" value="name_desc"
                                             {% if request.GET.sort_by == "name_desc" %}checked{% endif %}>
                                      <label for="name-z_a">Name Z &lt; A</label>
                                    </li>
                                
                                    <li>
                                      <input type="radio" name="sort_by" id="recently_activated" value="recently_activated"
                                             {% if request.GET.sort_by == "recently_activated" %}checked{% endif %}>
                                      <label for="recently_activated">Recently Created</label>
                                    </li>
                                
                                    <li>
                                      <input type="radio" name="sort_by" id="recently_deactivated" value="recently_deactivated"
                                             {% if request.GET.sort_by == "recently_deactivated" %}checked{% endif %}>
                                      <label for="recently_deactivated">Recently Updated</label>
                                    </li>
                                
                                    <div class="d-flex justify-content-center border-top pt-3 mt-2 pb-2">
                                      <button type="submit" class="dashboard-addbtn w-100">Apply</button>
                                    </div>
                                  </ul> -->
                                
                                  <!-- Preserve search and pagination -->
                                  <input type="hidden" name="search_field" value="{{ request.GET.search_field }}">
                                  <input type="hidden" name="search_query" value="{{ request.GET.search_query }}">
                                  <input type="hidden" name="per_page" value="{{ request.GET.per_page }}">
                                </form>
                              </div>  
                              <!-- <div class="shorting-select" data-toggle="modal" data-target="#modal-filter">
                                <img src="{% static 'dist/img/svg/filter-icon.svg' %}" alt="">
                                <span>Filter</span>
                                <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                              </div> -->
                            </div>  
                          </div>
                        </div>
                        <div class="table-responsive table-ht">
                            <table class="table table-design table-trlink">
                                <thead class="table-thead-bg-light table-header-fix">
                                    <tr>
                                        <th width="10">
                                            <input type="checkbox" id="checkall" class="table-chk">
                                            <label for="checkall"></label>
                                        </th>
                                        <th>Franchise Name</th>
                                        <th>Franchise Type</th>
                                        <th>Channel Type</th>
                                        <th>Parent Broker Code</th>
                                        <th>Onboarding Date</th>
                                        <th>Status</th>
                                        <th>Info</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for franchise in page_obj %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="check{{ franchise.id }}" class="table-chk">
                                            <label for="check{{ franchise.id }}"></label>
                                        </td>
                                        
                                        <td><a href="{% url 'franchise-management-edit' franchise.franchise_id %}" class="trlink">
                                          {{ franchise.franchise_name }}
                                               <span class="text-gray d-block small">#{{ franchise.franchise_id }}</span>
                                            </a>
                                        </td>
                                        <td>{{ franchise.franchise_type }}</td>
                                        <td>{{ franchise.channel_type }}</td>
                                        <td>{{ franchise.parent_broker_code }}</td>
                                        <td>{{ franchise.onboarding_date }}</td>
                                        <td>
                                          <span id="status-badge-{{ franchise.id }}" class="badge {% if franchise.franchise_status == 'Active' %}badge-success{% else %}badge-danger{% endif %}">
                                            {{ franchise.franchise_status }}
                                        </span>
                                        </td>
                                        <td>
                                            <i class="fas fa-clock text-primary"></i> {{ franchise.updated_at|date:"d M Y, H:i:s" }} <br>
                                            <i class="fas fa-calendar-alt text-secondary"></i> {{ franchise.created_at|date:"d M Y, H:i:s" }}
                                        </td>
                                        <td>
                                          <div style="display: flex; gap: 5px; justify-content: center; align-items: center;">
                                            <a href="{% url 'franchise-management-edit' franchise.franchise_id %}" class="btn btn-xs btn-warning ">
                                                <i class="fas fa-edit"></i> 
                                            </a>
                                           
                                            <!--Anjali-->
                                            <a href="#" class="btn btn-xs btn-info toggle-status"
                                            data-url="{% url 'franchise-toggle-status' franchise.id %}"
                                            data-action="activate"
                                            {% if franchise.franchise_status == "Active" %}style="display: none;"{% endif %}
                                            id="activate-btn-{{ franchise.id }}">
                                             <i class="fas fa-check-circle"></i>
                                         </a>
                                 
                                         <!-- Deactivate Button (Trash) -->
                                         <a href="#" class="btn btn-xs btn-danger toggle-status"
                                            data-url="{% url 'franchise-toggle-status' franchise.id %}"
                                            data-action="deactivate"
                                            {% if franchise.franchise_status == "Inactive" %}style="display: none;"{% endif %}
                                            id="deactivate-btn-{{ franchise.id }}">
                                             <i class="fas fa-trash"></i>
                                         </a>
                                            </div>
                                          </td>
                                          
                                         
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                    
                    <div class="bottom-fix-pagination">
                        <div class="d-flex justify-content-between align-items-center">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1&per_page={{ per_page }}" aria-label="First">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                            <span class="sr-only">First</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% endif %}
                    
                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}&per_page={{ per_page }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                    
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}" aria-label="Last">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                            <span class="sr-only">Last</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                    
                            <form method="GET" class="d-flex">
                                <select class="pagination-dropdown form-select" name="per_page" onchange="this.form.submit()">
                                    <option value="10" {% if per_page == '10' %}selected{% endif %}>10 / Page</option>
                                    <option value="20" {% if per_page == '20' %}selected{% endif %}>20 / Page</option>
                                    <option value="50" {% if per_page == '50' %}selected{% endif %}>50 / Page</option>
                                    <option value="100" {% if per_page == '100' %}selected{% endif %}>100 / Page</option>
                                </select>
                                <input type="hidden" name="page" value="1">
                            </form>
                        </div>
                    </div>
                     
                  </div>
                </div>
              </div>  
            </div>
            
          </div>
          
        </div>
        <!-- /.content-wrapper -->
    
        {% include "footer.html" %}
    </div>
    <!-- ./wrapper -->
    
    
    <div class="modal fade table-filter-modal" id="modal-filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content">
          <div class="modal-header">
            <div class="d-flex align-items-center justify-content-between w-100">
              <h5 class="modal-title">Filter</h5>
              <p class="modal-title text-gray mb-0">Clear All</p>
            </div>  
            <!-- <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button> -->
          </div>
          <div class="modal-body">
            <h4 class="filter-hding">Status</h4>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-active">
              <label for="status-active">Active</label>
            </div>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-deactived">
              <label for="status-deactived">Deactived</label>
            </div>
            <div class="filter-status">
              <input type="checkbox" name="" id="status-onnotice">
              <label for="status-onnotice">Active | On Notice</label>
            </div>
            <h4 class="filter-hding">Member Name</h4>
            <input type="search" name="" class="filter-search-field" placeholder="Search Members">
            <h4 class="filter-hding">Plan</h4>
            <select class="filter-search-field" id="planselect">
              <option value="" selected>Select Plan</option>
              <option value="Team Member">Netyx (Team Member)</option>
              <option value="Family">Netyx (Team Member, Spouse and Two Children)</option>
            </select>
            <h4 class="filter-hding">Activation Date Range</h4>
            <input type="text" class="daterange filter-search-field" value="01/01/2025 - 01/15/2025" />
            <h4 class="filter-hding">Deactivation Date Range</h4>
            <input type="text" class="daterange filter-search-field" value="01/01/2025 - 01/15/2025" />
          </div>
          <div class="modal-footer">
            <button type="button" class="dashboard-btn-outline" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="dashboard-addbtn">Apply</button>
          </div>
        </form>
      </div>
    </div>
    
    {% include 'footer-script.html' %}
    
    
    
    
    </body>
    <!--Anjali-->
    <script>
      $(document).ready(function () {
        $(".toggle-status").click(function (e) {
            e.preventDefault();
    
            var button = $(this);
            var franchiseId = button.data("url").split("/").slice(-2, -1)[0]; // Extract franchise ID
            var url = button.data("url");
    
            Swal.fire({
                title: "Are you sure?",
                text: "You want to change the status!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, change it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        headers: { "X-CSRFToken": getCSRFToken() },  // Include CSRF token
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: "Updated!",
                                    text: response.message,
                                    icon: "success",
                                    timer: 1500,
                                    showConfirmButton: false
                                });
    
                                // Update status badge dynamically
                                var statusBadge = $("#status-badge-" + franchiseId);
                                if (response.status === "Active") {
                                    statusBadge.text("Active").removeClass("badge-danger").addClass("badge-success");
                                    $("#activate-btn-" + franchiseId).hide();
                                    $("#deactivate-btn-" + franchiseId).show();
                                } else {
                                    statusBadge.text("Inactive").removeClass("badge-success").addClass("badge-danger");
                                    $("#activate-btn-" + franchiseId).show();
                                    $("#deactivate-btn-" + franchiseId).hide();
                                }
                            } else {
                                Swal.fire("Error!", response.message, "error");
                            }
                        },
                        error: function (xhr) {
                            console.log("AJAX Error:", xhr.responseText);
                            Swal.fire("Error!", "Something went wrong!", "error");
                        }
                    });
                }
            });
        });
    
        function getCSRFToken() {
            return document.querySelector("[name=csrfmiddlewaretoken]").value;
        }
    });
    
  </script>
  

{% endblock %}