{% extends 'master.html' %}

{% block title %}Insurance Company{% endblock %}

{% block content %}
{% load static %}
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {% include 'navbar.html' %}
    {% include 'sidebar/sidebar.html' %}

    <div class="content-wrapper white-bg">
      <!-- Header -->
      <div class="content-header header-content-bg">
        <div class="container-fluid">
          <div class="row pt-2 pb-2">
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <h1 class="admin-title m-0 pt-2">Insurance Company</h1>
              </div>
              <ul class="breadcrump">
                <li><a href="{% url 'dashboard' %}">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                <li><a href="{% url 'insurance_index' %}">Insurance Company</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="d-flex justify-content-end">
                <a href="{% url 'create-insurance' %}" class="breadcrump-addbtn"><i class="fas fa-plus"></i> Add Insurance Company</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
              <a href="#">
                <div class="card counter-img-card active">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <p class="card-text">Total Insurances Company</p>
                        <h5 class="card-title card-number">{{ total_count }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <a href="#">
                <div class="card counter-img-card counter-active-card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <p class="card-text">Active Insurances Company</p>
                        <h5 class="card-title card-number">{{ active_count }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <a href="#">
                <div class="card counter-img-card counter-deactive-card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <p class="card-text">Inactive Insurances Company</p>
                        <h5 class="card-title card-number">{{ inactive_count }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="table-search-area">
                <form method="get" class="d-flex">
                  <select class="table-select-field" name="search_field">
                    <option value="" disabled selected>Filter By</option>
                    <option value="insurance_name" {% if search_field == 'insurance_name' %}selected{% endif %}>Insurance Name</option>
                    <option value="insurance_id" {% if search_field == 'insurance_id' %}selected{% endif %}>Insurance ID</option>
                  </select>
                  <input type="text" name="search_query" class="table-search-field" placeholder="Search" value="{{ search_query }}">
                  <button type="submit" class="table-search-btn">
                    <img src="{% static 'dist/img/svg/search-icon.svg' %}" alt="Search">
                  </button>
                </form>
              </div>
            </div>
          </div>

          <!--<div class="table-responsive table-ht">
            <table class="table table-design table-trlink">
              <thead class="table-thead-bg-light table-header-fix">
                <tr>
                  <th width="10">
                    <input type="checkbox" id="checkall" class="table-chk">
                    <label for="checkall"></label>
                  </th>
                  <th>Insurance ID</th>
                  <th>Insurance Company</th>
                  <th>Status</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for insurance in insurance_qs %}
                <tr>
                  <td>
                    <input type="checkbox" id="check{{ insurance.id }}" class="table-chk">
                    <label for="check{{ insurance.id }}"></label>
                  </td>
                  <td>
                    <a href="{% url 'insurance_edit' insurance.id %}" class="trlink">
                      {{ insurance.insurance_id }}
                      <span class="text-gray d-block small">#{{ insurance.id }}</span>
                    </a>
                  </td>
                  <td>{{ insurance.insurance_company }}</td>
                
                    <td>
                      {% if insurance.active == 'Active' %}
                        <span class="badge badge-success">Active</span>
                      {% else %}
                        <span class="badge badge-danger">Inactive</span>
                      {% endif %}
                    </td>
                 
                  <td><i class="fas fa-calendar-alt text-secondary"></i> {{ insurance.created_at|date:"d M Y, H:i:s" }}</td>
                  <td><i class="fas fa-clock text-primary"></i> {{ insurance.updated_at|date:"d M Y, H:i:s" }}</td>
                  <td>
                    <a href="{% url 'insurance_edit' insurance.id %}" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i></a>
                    
                    {% if insurance.active == 'Active' %}
                    <a href="{% url 'insurance-toggle-status' insurance.id %}"
                       class="btn btn-xs btn-danger toggle-status mx-1"
                       data-active="Inactive">
                        <i class="fas fa-trash"></i>
                    </a>
                  {% else %}
                    <a href="{% url 'insurance-toggle-status' insurance.id %}"
                       class="btn btn-xs btn-primary toggle-status mx-1"
                       data-active="Active">
                        <i class="fas fa-check-circle"></i>
                    </a>
                  {% endif %}
                  
                   

                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="7" class="text-center">No Insurance Company found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>-->

          <div class="table-responsive table-ht">
            <table class="table table-design table-trlink">
                <thead class="table-thead-bg-light table-header-fix">
                    <tr>
                      <th width="10">
                        <input type="checkbox" id="checkall" class="table-chk">
                        <label for="checkall"></label>
                      </th>
                      <th>Insurer Co. Details</th>
                      <!-- <th>Insurer Co. Short Name</th> -->
                      <!-- <th>Branch Details</th> -->
                      <th>Registered / Billing Address</th>
                      <th>Residential/Corporate Address</th>
                      <th>Date Of Commencement</th>
                      <th width="200">Primary / Secondary</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for insurance in page_obj %}
                    <tr>
                      <td>
                          <input type="checkbox" id="check{{ insurance.id }}" class="table-chk">
                          <label for="check{{ insurance.id }}"></label>
                      </td>
                        <td>
                          <span class="d-block">{{ insurance.insurance_company|default:"N/A" }}</span>
                          <span class="d-block text-muted">Insurer Co. Short Name</span>
                          {{ insurance.ins_short_name|default:"N/A" }}
                          <span class="d-block text-muted">Branch Details</span>
                          {% if object.branch %}
                              <a href="#">View Branch</a>
                          {% else %}
                              N/A
                          {% endif %}
                        </td>
                        <!-- <td>{{ insurance.ins_short_name|default:"N/A" }}</td> -->
                        <!-- <td>
                          {% if object.branch %}
                              <a href="#">View Branch</a>
                          {% else %}
                              N/A
                          {% endif %}
                        </td> -->
                      
                        <td>
                            {{ insurance.billing_city }} {{ insurance.billing_state }} {{ insurance.billing_pincode }}<br>
                            {{ insurance.billing_address }}
                        </td>
                        <td>
                          {{ insurance.city }} {{ insurance.state }}{{ insurance.pincode }}<br>
                          {{ insurance.address }}
                        </td>
                        <td>
                            {% if insurance.commencement_date %}
                                {{ insurance.commencement_date|date:"d-M-Y" }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td>
                          {% if insurance.primary_contact_name or insurance.primary_designation or insurance.primary_contact_no or insurance.primary_contact_email or insurance.secondary_contact_name or insurance.secondary_designation or insurance.secondary_contact_no or insurance.secondary_contact_email %}
                            <span class="text-primary">{% if insurance.primary_contact_name %}{{ insurance.primary_contact_name }}</span><br>{% endif %}
                            <span class="text-muted">{% if insurance.primary_designation %}{{ insurance.primary_designation }}</span><br>{% endif %}
                            {% if insurance.primary_contact_no %}{{ insurance.primary_contact_no }}<br>{% endif %}
                            <span class="text-info">{% if insurance.primary_contact_email %}{{ insurance.primary_contact_email }}</span><br>{% endif %}
                            <hr class="my-1">
                            <span class="text-primary">{% if insurance.secondary_contact_name %}{{ insurance.secondary_contact_name }}</span><br>{% endif %}
                            <span class="text-muted">{% if insurance.secondary_designation %}{{ insurance.secondary_designation }}</span><br>{% endif %}
                            {% if insurance.secondary_contact_no %}{{ insurance.secondary_contact_no }}<br>{% endif %}
                            <span class="text-info">{% if insurance.secondary_contact_email %}{{ insurance.secondary_contact_email }}</span><br>{% endif %}
                          {% else %}
                            N/A
                          {% endif %}
                        </td>
                        
                          <td>
                            {% if insurance.active == 'Active' %}
                              <span style="color: green; font-weight: bold;">Active</span>
                            {% else %}
                              <span style="color: red; font-weight: bold;">Inactive</span>
                            {% endif %}
                          </td>

                        <td>
                          <div class="dropdown">
                            <img src="{% static 'dist/img/svg/menu-dot-vr.svg' %}" alt="" class="table-doticon" data-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu table-dropdown-menu" style="">
                              <li><a class="dropdown-item text-primary" href="{% url 'insurance_edit' insurance.id %}"><i class="fas fa-edit"></i> Edit</a></li>
                              {% if insurance.active == 'Active' %} 
                              <li>
                                <a href="{% url 'insurance-toggle-status' insurance.id %}" class="dropdown-item text-danger">
                                  <i class="fas fa-times-circle"></i> Inactive
                                </a>
                              </li>
                              {% else %}
                               <li>
                                <a href="{% url 'insurance-toggle-status' insurance.id %}" class="dropdown-item text-success">
                                  <i class="fas fa-check-circle"></i> Active
                                </a>
                              </li> 
                              {% endif %}
                            </ul>
                          </div>
                           <!-- <div class="d-flex">
                            <a href="{% url 'insurance_edit' insurance.id %}" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i></a>
                            {% if insurance.active == 'Active' %}
                                <a href="{% url 'insurance-toggle-status' insurance.id %}" class="btn btn-xs btn-danger toggle-status mx-1" data-active="Inactive">
                                    <i class="fas fa-trash"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'insurance-toggle-status' insurance.id %}" class="btn btn-xs btn-primary toggle-status mx-1" data-active="Active">
                                    <i class="fas fa-check-circle"></i>
                                </a>
                            {% endif %} -->
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No Insurance Company found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
          {% if page_obj.has_other_pages %}
          <div class="bottom-fix-pagination">
            <div class="d-flex justify-content-between align-items-center">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1&per_page={{ per_page }}{% if search_query %}&search_query={{ search_query }}{% endif %}{% if search_field %}&search_field={{ search_field }}{% endif %}">&laquo;&laquo;</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}{% if search_query %}&search_query={{ search_query }}{% endif %}{% if search_field %}&search_field={{ search_field }}{% endif %}">&laquo;</a>
                  </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                  <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}&per_page={{ per_page }}{% if search_query %}&search_query={{ search_query }}{% endif %}{% if search_field %}&search_field={{ search_field }}{% endif %}">{{ num }}</a>
                  </li>
                {% endfor %}

                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}{% if search_query %}&search_query={{ search_query }}{% endif %}{% if search_field %}&search_field={{ search_field }}{% endif %}">&raquo;</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}{% if search_query %}&search_query={{ search_query }}{% endif %}{% if search_field %}&search_field={{ search_field }}{% endif %}">&raquo;&raquo;</a>
                  </li>
                {% endif %}
              </ul>

              <!-- Per Page Dropdown Form -->
              <form method="get" class="d-flex">
                {% if search_query %}
                  <input type="hidden" name="search_query" value="{{ search_query }}">
                {% endif %}
                {% if search_field %}
                  <input type="hidden" name="search_field" value="{{ search_field }}">
                {% endif %}
                <select class="pagination-dropdown form-select" name="per_page" onchange="this.form.submit()">
                  <option value="10" {% if per_page == '10' %}selected{% endif %}>10 / Page</option>
                  <option value="20" {% if per_page == '20' %}selected{% endif %}>20 / Page</option>
                  <option value="50" {% if per_page == '50' %}selected{% endif %}>50 / Page</option>
                  <option value="100" {% if per_page == '100' %}selected{% endif %}>100 / Page</option>
                </select>
                <input type="hidden" name="page" value="1">
              </form>
            </div>
          </div>
          {% endif %}


        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'footer-script.html' %}
  </div>
</body>

{% endblock %}
