{% extends 'master.html' %}
{% load static %}

{% block title %}
Credentail Mgt - Create Credentail
{% endblock %}

{% block content %}
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include "navbar.html" %}
        {% include 'sidebar/sidebar.html' %}

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <!-- Breadcrumb -->
            <div class="content-header breadcrump-bg">
                <div class="container-fluid">
                    <div class="row py-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Create Credential</a>
                            </div>
                            <ul class="breadcrump">
                                <li><a href="{% url 'dashboard' %}">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                                <li><a href="{% url 'credential_list' %}">Credential Management</a> <i class="fas fa-chevron-right"></i></li>
                                <li>Create Credential</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex justify-content-end">
                              <a href="{% url 'credential_list' %}" class="breadcrump-addbtn">
                                <i class="fas fa-arrow-left"></i> Back to List
                              </a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Form Card -->
                            <div class="card box-shadow-none p-md-5 p-3">
                                <div class="card-body px-0 pb-0 pt-0">
                                    <form autocomplete="off" id="credentialForm" name="credentialForm"
                                        action="#"
                                        method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <!-- Platform Name -->
                                            <div class="form-group col-sm-6 col-md-4">
                                                <label class="form-lbl" for="credential_platform_name">Platform Name</label>
                                                <input type="text" class="form-field" name="credential_platform_name" id="credential_platform_name"
                                                    placeholder="Enter Platform Name"
                                                    value="{{ credential.credential_platform_name|default:'' }}">
                                                <span class="error credential_platform_name_err"></span>
                                            </div>

                                            <!-- Credential URL -->
                                            <div class="form-group col-sm-6 col-md-4">
                                                <label class="form-lbl" for="credential_url">Platform URL</label>
                                                <input type="url" class="form-field" name="credential_url" id="credential_url"
                                                    placeholder="Enter URL"
                                                    value="{{ credential.credential_url|default:'' }}">
                                                <span class="error credential_url_err"></span>
                                            </div>

                                            <!-- Username -->
                                            <div class="form-group col-sm-6 col-md-4">
                                                <label class="form-lbl" for="credential_username">Username</label>
                                                <input type="text" class="form-field" name="credential_username" id="credential_username"
                                                    placeholder="Enter Username"
                                                    value="{{ credential.credential_username|default:'' }}">
                                                <span class="error credential_username_err"></span>
                                            </div>

                                            <!-- Password -->
                                            <div class="form-group col-sm-6 col-md-4">
                                                <label class="form-lbl" for="credential_password">Password</label>
                                                <input type="password" class="form-field" name="credential_password" id="credential_password"
                                                    placeholder="Enter Password"
                                                    value="{{ credential.credential_password|default:'' }}">
                                                <span class="error credential_password_err"></span>
                                            </div>

                                            <!-- Remark -->
                                            <div class="form-group col-sm-6 col-md-4">
                                                <label class="form-lbl" for="credential_remark">Remark</label>
                                                <textarea class="form-field" name="credential_remark" id="credential_remark" placeholder="Remark"
                                                    rows="3">{{ credential.credential_remark|default:'' }}</textarea>
                                                <span class="error credential_remark_err"></span>
                                            </div>

                                            

                                        <!-- Submit Button -->
                                         <div class="col-sm-12">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="form-submit-btn">
                                            {% if credential %}Update Credential{% else %}Save Credential{% endif %}                                            </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
        {% include "footer.html" %}
        {% include "footer-script.html" %}
    </div>
</body>
{% endblock %}

