*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {font-family: 'Roboto', sans-serif !important; letter-spacing: 0.5px;}
.insurancepro{
  font-size:25px;
  font-weight: 700; 
 font-family: sans-serif;
}

.signup-bg {background-color: #27378c; }
.signup-container-bg {border-radius: 20px; background: #fff; margin:15px 0; }
.signup-form-area {padding:40px; }
.singup-logo {width:140px; margin-bottom: 50px; }
.signup-hding {font-size:19px; font-weight: 700; margin:0 0 5px; padding:0; }
.signup-prgh {font-size:14px; font-weight: 400; margin:0 0 30px; padding:0; }
.signup-form-lbl {font-size:13px; color:#000; font-weight: 500 !important; display: block; margin-bottom: 8px;}
.signup-form-field {width: 100%; border-radius: 5px; border:1px solid #999; padding:10px 15px; font-size: 14px;}
.signup-gender-box {border-radius: 5px; border:1px solid #999; padding:1px; display: flex; flex-wrap: wrap;}
.signup-gender-area {display: flex;}
.signup-radio-button {display: none;}
.signup-radio-button + label {width: 100%; padding:10px 15px; margin-bottom: 0px !important; cursor: pointer; font-size: 14px; border-radius: 5px; background-color: #fff2ec; text-align: center;}
.signup-radio-button:checked + label { background:#bb215b; color:#fff !important; }
.asterisk {color: #ff3300;}
.signup-radio-btn-area {flex-grow: 1;}
.signup-form-group {margin-bottom: 25px; }
.signup-terms > .terms-checkbtn {width: 20px; height: 20px; position: relative; top:5px; margin-right: 5px;}
.signup-terms > label {font-weight: 400; color:#999;}
.signup-terms > label > a {color: #000;}
.signup-submit-btn {border-radius: 5px; background: #bb215b; color:#fff; padding:10px 15px; width: 100%; border:2px solid #999; outline: none; margin-top:15px;}
.signup-submit-btn[disabled] {opacity: 0.4; color:#000;}

.signup-righ-bg {background-color: #bb215b; height: 100%; border-radius: 0 20px 20px 0; }
@media (max-width:767px) {
  .signup-righ-bg {border-radius: 0px 0px 20px 20px;}
}