<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Powered by <a href="https://www.netleafinfosoft.com/">Netleaf Software</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2025 <a href="https://www.netleafinfosoft.com/">NetInsurancePro</a>.</strong> All rights reserved.
  </footer>

  <script>
      window.addEventListener("load", function () {
          document.getElementById("loader").style.display = "none";
      });
  </script>