<div class="tab-pane" id="previous-policy-info-tab">
    <div class="row">
        <table>
            <thead>
                <th>Policy Number</th>
                <th>Policy Start Date</th>
                <th>Policy End Date</th>
                <th>Policy Type</th>
                <th>Policy Premium</th>
                <th>View</th>
            </thead>
            <tbody>
                <tr>
                    <td>Policy Number</td>
                    <td>Policy Start Date</td>
                    <td>Policy End Date</td>
                    <td>Policy Type</td>
                    <td>Policy Premium</td>
                    <td>View</td>
                </tr>
                <tr>
                    <td>Policy Number</td>
                    <td>Policy Start Date</td>
                    <td>Policy End Date</td>
                    <td>Policy Type</td>
                    <td>Policy Premium</td>
                    <td>View</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>