<div class="tab-pane" id="claims-tab">
                                                <div class="row align-items-center mt-3 mb-3">
                                                    <div class="col-md-auto">
                                                        <h3 class="card-hding mb-0 pb-0">Claim History</h3>
                                                    </div>
                                                    <div class="col">
                                                        <div class="d-flex justify-content-end">
                                                            <a href="#" class="dashboard-btn-outline mx-2">Search Cashless Hospitals</a>
                                                            <a href="#" class="dashboard-addbtn">Raise a Claim</a>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="table-responsive">
                                                    <table class="table table-design admin-table-design">
                                                    <thead class="align-middle thead-light">
                                                        <tr>
                                                            <th>Claim ID/Type</th>
                                                            <th>Patient Name/Relation</th>
                                                            <th>Claim Status/Last Update On</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        <td colspan="3">
                                                            <div class="d-flex justify-content-center py-5">
                                                            <div>
                                                                <img src="dist/img/svg/drive.svg" alt="" class="mx-auto d-table">
                                                                <p class="wrap-small text-gray text-center pt-2">No Data</p>
                                                            </div>  
                                                            </div>   
                                                        </td>
                                                        </tr>
                                                    </tbody>
                                                    </table>                               
                                                </div>    
                                            </div>