{% with step=step|default:1 %}

<ul class="stepflow-text">
    <li class="{% if step >= 2 %}active{% endif %}"><a href="#link1"><span>Basic Details</span></a></li>
    <li class="{% if step >= 3 %}active{% endif %}"><a href="#link2"><span>Address</span></a></li>
    <!-- <li class="{% if step >= 4 %}active{% endif %}"><a href="#link3"><span>Family Details</span></a></li> -->
    <li class="{% if step >= 4 %}active{% endif %}"><a href="#link4"><span>Employment Info</span></a></li>
    <!-- <li class="{% if step >= 6 %}active{% endif %}"><a href="#link5"><span>References</span></a></li> -->
    <!-- <li class="{% if step >= 7 %}active{% endif %}"><a href="#link5"><span>Allocation</span></a></li> -->
</ul>

<ul class="new-stepflow">
    <li class="{% if step >= 2 %}active{% endif %}"><a href="#link1"></a></li>
    <li class="{% if step >= 3 %}active{% endif %}"><a href="#link2"></a></li>
    <li class="{% if step >= 4 %}active{% endif %}"><a href="#link3"></a></li>
    <!-- <li class="{% if step >= 5 %}active{% endif %}"><a href="#link4"></a></li> -->
    <!-- <li class="{% if step >= 6 %}active{% endif %}"><a href="#link5"></a></li> -->
    <!-- <li class="{% if step >= 7 %}active{% endif %}"><a href="#link5"></a></li> -->
</ul>

{% endwith %}
