<!doctype html>
<html lang="en">
  <head>
    {% include 'home/layouts/head.html' %}
    {% load static %}
    <section class="bg-light py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
            
            <div class="row">
              <div class="col-md-8">
                <div class="form-box">
                  <h2 class="wrap-title pb-3">Review the below details. This information will be printed on your policy document.</h2>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <strong>Basic Details</strong>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="row">
                            <!-- <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Registration Number</label>
                                <p class="quote-lbl">HR-26-FH-4090</p>
                              </div>
                            </div> -->
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Customer Name</label>
                                <p class="quote-lbl">Deep Shikha</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Email</label>
                                <p class="quote-lbl">abc@gmail.com</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Phone Number</label>
                                <p class="quote-lbl">9876543210</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Gender</label>
                                <p class="quote-lbl">Female</p>
                              </div>
                            </div>
                            
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Proposer Date of Birth</label>
                                <p class="quote-lbl"></p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Marital Status</label>
                                <p class="quote-lbl">Married</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Company Name</label>
                                <p class="quote-lbl">Netleaf Software</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">GST No.</label>
                                <p class="quote-lbl">N/A</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">KYC Document Type</label>
                                <p class="quote-lbl">PAN</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">PAN No.</label>
                                <p class="quote-lbl text-uppercase">BAXPK1234K</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <strong>Nominee Details</strong>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Name of Nominee</label>
                                <p class="quote-lbl">Ratnesh Sharma</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Relationship with Car Owner</label>
                                <p class="quote-lbl">Husband</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Age of Nominee</label>
                                <p class="quote-lbl">38</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <strong> Address</strong>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Address for communication</label>
                                <p class="quote-lbl">Unit- 223, Tower A, Spaze I-Tech Park, Sec-49, Sohna Road,</p>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="quote-lbl-gray">State</label>
                                <p class="quote-lbl">Haryana</p>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="quote-lbl-gray">City</label>
                                <p class="quote-lbl">Gurugram</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <strong>Vehicle Details</strong>
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Registration Number</label>
                                <p class="quote-lbl">HR-26-FH-4090</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Engine Number (as per RC)</label>
                                <p class="quote-lbl text-uppercase">KEF1452</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Chassis Number (as per RC)</label>
                                <p class="quote-lbl">Cccsdsdf012458845</p>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <p class="wrap-title fw-bold border-bottom pb-2 mt-2">Previous Policy Details</p>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Select Previous Policy Insurer</label>
                                <p class="quote-lbl">TATA AIG</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Previous Policy Number</label>
                                <p class="quote-lbl">ELV0221452</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="quote-lbl-gray">Is the car currently on loan?</label>
                                <p class="quote-lbl">No</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>  
                  
              </div>
              <div class="col-md-4">
                <div class="quote-box mt-0">
                  <div class="row align-items-center mb-2">
                    <div class="col-auto">
                      <div class="quote-img">
                        <img src="{% static 'home/assets/image/partner-logo/national-insurance-logo.png' %}" alt="">
                      </div>
                    </div>
                    <div class="col-md">
                      <p class="wrap-prgh mb-0"><strong>National Insurance</strong></p>
                    </div>
                    <div class="col-md">
                      <h2 class="wrap-subhding text-end"><i class="fa-solid fa-indian-rupee-sign"></i>6734</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <p class="quote-lbl-gray">Car Model</p>
                        <p class="quote-lbl">Kia, Seltos, Petrol, HTK PLUS 1.5 (1497 CC)</p>
                      </div>  
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p class="quote-lbl-gray">IDV</p>
                        <p class="quote-lbl"><i class="fa-solid fa-indian-rupee-sign"></i>8,51,970</p>
                      </div>  
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p class="quote-lbl-gray">CRN</p>
                        <p class="quote-lbl">9563409</p>
                      </div>  
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p class="quote-lbl-gray">Reg Date</p>
                        <p class="quote-lbl">18 Mar, 2024</p>
                      </div>  
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p class="quote-lbl-gray">Premium</p>
                        <p class="quote-lbl"><i class="fa-solid fa-indian-rupee-sign"></i>5,970</p>
                      </div>  
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p class="quote-lbl-gray">Policy Type</p>
                        <p class="quote-lbl">Own Damage</p>
                      </div>  
                    </div>
                    <div class="col-sm-12">
                      <a href="#" class="wrap-btn w-100 text-center mb-1">Payment</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
    
          </div>
        </div>
      </div>  
    </section>

{% include 'home/layouts/footer.html' %}


</body>
</html>