{% extends 'master.html' %}

{% load static %}

{% block title %}
    Create Department
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include 'sidebar/sidebar.html' %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Create Department</a>
                </div>
                <ul class="breadcrump">
                  <li> <a href="{% url 'dashboard' %}">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li> <a href="{% url 'department-management' %}">Department</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Add Department</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-5 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                    

                    <form autocomplete="off" id="departmentForm" name="departmentForm"
                            action="{% if department %}{% url 'department-management-edit' department.id %}{% else %}{% url 'department-management-create' %}{% endif %}"
                            method="post">
                            {% csrf_token %}

                            <div class="row">
                                <!-- Department Name -->
                                <div class="form-group col-md-6">
                                    <label for="name">Department Name</label>
                                    <input type="text" class="form-control" name="name" id="name" 
                                        placeholder="Enter Department Name" maxlength="255"
                                        value="{{ department.name|default_if_none:'' }}">
                                </div>

{% comment %} 
                                <!-- Mobile Number -->
                                <div class="form-group col-md-6">
                                    <label for="mobile">Mobile</label>
                                    <input type="tel" class="form-control" name="mobile" id="mobile" 
                                        placeholder="Enter Mobile Number" pattern="[0-9]{10}"
                                        value="{{ department.contact_number|default_if_none:'' }}">
                                </div>

                                <!-- Email -->
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" 
                                        placeholder="Enter Email" maxlength="255"
                                        value="{{ department.email|default_if_none:'' }}">
                                </div>

                                <!-- Department Code -->
                                <div class="form-group col-md-6">
                                    <label for="department_code">Department Code</label>
                                    <input type="text" class="form-control" name="department_code" id="department_code" 
                                        placeholder="Enter Department Code" maxlength="20"
                                        value="{{ department.department_code|default_if_none:'' }}">
                                </div> {% endcomment %}

                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary mt-3">
                                {% if department %}Update Department{% else %}Add Department{% endif %}
                            </button>
                        </form>


                    
                  </div>
                  <div id="loader" class="form-loader" style="display: none;">
                    <div>
                      <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                      <span class="visually-hidden d-block pt-2">Loading...</span>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
        
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    <script>
      document.getElementById("myForm").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script>
</body>
{% endblock %}
